/*BODY------------------------------------------------------------------------*/
.block {
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 auto;
}

#background {
    background-image: url('../images/Bg.svg');
    background-size: cover;
    height: auto;
    width: auto;
}

#imgscale {
    width: auto;
    height: 100%;
}

/*HEADER----------------------------------------------------------------------*/
header {
    background-image: url('../images/Sky.svg');
    background-size: cover;
}

.Redcolor {
    color: #D9362E
}

.Greencolor {
    color: #53A062
}

h1 {
    font-family: "Sofia Sans", sans-serif;
    color: #333333;
    text-shadow: 0px 4px 4px #779AE5;

}

/*SECTION---------------------------------------------------------------------*/
h2 {
    font-family: "Sofia Sans", sans-serif;
    color: #494949;
}

p {
    font-family: "Sofia Sans", sans-serif;
    color: #0D0D0D;
}

.btn {
    border-radius: 10px;
    font-family: "Sofia Sans", sans-serif;
    color: #FFFFFF;
}

#redbtn {
    background-color: #D9362E;
    margin-top: 50px;
}

#greenbtn {
    background-color: #53A062;
    margin-top: 50px;
}

#bluebtn {
    background-color: #285A97;
    margin-top: 50px;
}

#redbg {
    background-image: url('../images/Redbg.svg');
    background-size: cover;
    height: auto;
    width: auto;
}

#greenbg {
    background-image: url('../images/Greenbg.svg');
    background-size: cover;
    height: auto;
    width: auto;
}

#bluebg {
    background-image: url('../images/Bluebg.svg');
    background-size: cover;
    height: auto;
    width: auto;
}

/*FOOTER---------------------------------------------------------------------*/
footer {
    background-image: url('../images/Cloud.svg');
    background-size: cover;
}

@media (min-width: 430px){

    .container{
        max-width: 430px;
    }

    header {
        min-height: 300px;
    }

    #imgscale {
        max-width: 186px;
        text-align: center;
    }

    #bfmlogo {
        width: 41px;
        height: 28px;
        margin-top: 40px;
        margin-left: 20px;
    }

    h1 {
        font-weight: 900;
        font-size: 25px;
        margin-left: 40px;
    }

    h2 {
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 27px;
    }

    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
    }

    #greenimg {
        display: none;
    }

    #redimg,
    #blueimg,
    #greenimg-mobile {
        padding-top: 100px;
        text-align: center;

    }

    #redtext,
    #bluetext,
    #greentext {
        text-align: center;
        padding: 27px 82px 0px 82px;
    }

    .btn {
        font-size: 15px;
        width: 142px;
        height: 44px;
    }

    footer {
        min-height: 112px;
        margin-top: 117px;
        text-align: center;
    }

    .footer-content {
        padding-top: 64px;
    }

    .footerimg {
        height: 25px;
        width: auto;
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }

    #imgscale {
        max-width: 450px;
    }


    h1 {
        font-weight: 900;
        font-size: 70px;
        letter-spacing: 5px;
        margin-left: 70px;
    }

    h2 {
        font-weight: 900;
        font-size: 60px;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }

    h3 {
        font-weight: bold;
        font-size: 80px;
    }

    h5 {
        font-weight: bold;
        font-size: 48px;
        padding-top: 20px;
        padding-left: 218px;
    }

    header {
        width: auto;
        height: 800px;
    }


    #bfmlogo {
        width: 100px;
        height: 80px;
        margin-top: 200px;
        margin-left: 0px;
    }

    #greenimg-mobile {
        display: none;
    }

    #redimg,
    #blueimg {
        padding-top: 200px;
        margin-left: 176px;
        margin-right: 50px;
        text-align: left;
    }

    #redtext,
    #bluetext {
        padding-top: 200px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 100px;
        text-align: left;
    }

    #greentext {
        padding-top: 200px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 176px;
        margin-right: 50px;
        text-align: left;
    }

    #greenimg {
        display: initial;
        padding-top: 200px;
        margin-right: 100px;
        text-align: left;
    }

    p {
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 3px;
    }

    .btn {
        font-size: 25px;
        width: 300px;
        height: 80px;
        letter-spacing: 2px;
        padding-top: 20px;
    }

    #heading {
        height: 100lvh;
        min-height: 910px;
    }

    footer {
        min-height: 300px;
        width: auto;
        margin-top: 243px;
        text-align: center;
    }

    .footer-content {
        padding-top: 200px;
    }

    .footerimg {
        height: 70px;
        width: auto;
        margin-left: 28px;
        margin-right: 28px;
    }
}

@media (min-width: 1792px) {

    .container{
        max-width: 1792px;
    }

    #imgscale {
        max-width: 600px;
    }


    h1 {
        font-weight: 900;
        font-size: 110px;
        letter-spacing: 5px;
        margin-left: 70px;
    }

    h2 {
        font-weight: 900;
        font-size: 90px;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }

    h3 {
        font-weight: bold;
        font-size: 80px;
    }

    h5 {
        font-weight: bold;
        font-size: 48px;
        padding-top: 20px;
        padding-left: 218px;
    }

    header {
        width: auto;
        height: 1200px;
    }


    #bfmlogo {
        width: 166px;
        height: 113px;
        margin-top: 200px;
        margin-left: 0px;
    }

    #greenimg-mobile {
        display: none;
    }

    #redimg,
    #blueimg {
        padding-top: 300px;
        margin-left: 176px;
        margin-right: 50px;
        text-align: left;
    }

    #redtext,
    #bluetext {
        padding-top: 300px;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 100px;
        text-align: left;
    }

    #greentext {
        padding-top: 300px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 176px;
        margin-right: 50px;
        text-align: left;
    }

    #greenimg {
        display: initial;
        padding-top: 300px;
        margin-right: 100px;
        text-align: left;
    }

    p {
        font-size: 35px;
        font-weight: 300;
        line-height: 55px;
        letter-spacing: 3px;
    }

    .btn {
        font-size: 40px;
        width: 340px;
        height: 105px;
        letter-spacing: 2px;
        padding-top: 20px;
    }

    #heading {
        height: 100lvh;
        min-height: 910px;
    }

    footer {
        min-height: 600px;
        width: auto;
        margin-top: 243px;
        text-align: center;
    }

    .footer-content {
        padding-top: 300px;
    }

    .footerimg {
        height: 115px;
        width: auto;
        margin-left: 28px;
        margin-right: 28px;
    }
}

@media (min-width: 1920px){
    .container{
        max-width: 1920px; 
    }
}
