h3 {
    font-family: "Sofia Sans", sans-serif;
    color: #494949;
}

h5 {
    font-family: "Sofia Sans", sans-serif;
    color: #333333;
}

.navigation {
    margin-top: 90px;
}

.navigation a {
    font-family: "Sofia Sans", sans-serif;
    color: #494949;
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    transition: 0.5s;
}

.navigation .active-red {
    font-family: "Sofia Sans", sans-serif;
    font-size: 75px;
    font-weight: 900;
    border-bottom: 14px solid #D9362E;
    box-shadow: #D9362E 0px 20px 20px -25px;

}

.navigation .active-green {
    font-family: "Sofia Sans", sans-serif;
    font-size: 75px;
    font-weight: 900;
    border-bottom: 14px solid #53A062;
    box-shadow: #53A062 0px 20px 20px -25px;
}

.navigation .active-blue {
    font-family: "Sofia Sans", sans-serif;
    font-size: 75px;
    font-weight: 900;
    border-bottom: 14px solid #285A97;
    box-shadow: #285A97 0px 20px 20px -25px;
}

.meedia {
    margin-left: 100px;
}

.film {
    margin-left: 400px;
}

.visuaalkultuur {
    margin-left: 140px;
}

ul {
    list-style-type: none;
    margin-top: 80px;
    line-height: 85px;
}

ul a,
a.link {
    text-decoration: none;
    color: #333333;
    font-family: "Sofia Sans", sans-serif;
    font-size: 60px;
    font-weight: 500;
}

ul.rednav a:hover {
    color: #D9362E;
    transition: 0.5s;
}

ul.greennav a:hover {
    color: #53A062;
    transition: 0.5s;
}

ul.bluenav a:hover {
    color: #285A97;
    transition: 0.5s;
}

.rednav {
    text-align: left;
    margin-left: 170px;
}

.greennav {
    text-align: center;
}

.bluenav {
    text-align: right;
    margin-right: 140px;
}

#bubbleimg {
    padding-top: 80px;
    padding-left: 80px;
}

#rollsimg {
    padding-top: 80px;
    padding-left: 40px;
}

#filmimg {
    padding-top: 100px;
}

#paintingsimg {
    padding-top: 160px;
    padding-left: 200px;
}

.cross {
    padding-left: 50px;
}


